body {
    font-family: 'Montserrat';
    color: #606060;
    font-weight: bold;
}
body h4 {
    font-family: 'Montserrat';
}
#video-bg {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
  }
/* <-------------------------buttons-----------------------------> */
#homepage .btn.btn-primary:hover,
#homepage .btn.btn-primary::before,
#homepage .btn.btn-primary.btn-banner:hover {
    border-color: #a3bac3 !important;
    background: #a3bac3 !important;
}

/* <-------------------------logo-----------------------------> */

.main-header .header-wrapper #logo-container img {
    max-height: 90px;
}

/* <-------------------------header-----------------------------> */

/* this is the backup if the video doesn't work */
.main-header {
    /* background: url(https://cdngeneralcf.rentcafe.com/dmslivecafe/2/70799/wave-still.PNG) center no-repeat;
    background-size: cover; */
    background: transparent;
}
/* temporary code so I can see the links while i'm designing */
.hidden {
    display: inline-block!important;
    visibility: visible!important;
}
.main-header .header-wrapper .right-nav-links-wrapper #login-links ul #rpdiv a::before {
    content: "LOGIN";
}
.main-header .header-wrapper .right-nav-links-wrapper #login-links ul #apldiv a::before {
    content: "APPLY NOW";
}

.main-header .header-wrapper #navwrapper {
    right: 0px;
    top: 152px;
    width: 100vw;
}
.main-header .header-wrapper .right-nav-links-wrapper {
    line-height: 1;
}
.main-header .header-wrapper a.click_to_call_href,
#apldiv a, #rpdiv a {
    color: #fff !important;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1;
}
.main-header .header-wrapper .right-nav-links-wrapper #login-links ul #rpdiv::after,
.main-header .header-wrapper .right-nav-links-wrapper #login-links ul #apldiv::after, 
.main-header .header-wrapper .right-nav-links-wrapper #login-links ul #call-us::after {
    background: #a3bbc4;
}
.main-header .header-wrapper .right-nav-links-wrapper #login-links ul a:hover {
    border-top: 2px solid #a3bbc4;
    border-bottom: 2px solid #a3bac3;
}
/* <-------------------------navigation-----------------------------> */

span.burger {
    color: #fff;
}
.main-header .header-wrapper .lbl-navcheck .burger::before,
.main-header .header-wrapper .lbl-navcheck .burger .bar,
.main-header .header-wrapper .lbl-navcheck .burger::after {
    background-color: #fff!important;
}

.main-header #navwrapper .navbar {
    right: 0;
}
.main-header #navwrapper::before {
    background: #003c5b;
}
.main-header .chk-navcheck:checked~#navwrapper .navbar .navbar-inner .nav>li.active>a,
.main-header #navwrapper .navbar .navbar-inner .nav>li:hover>a{
    border-left: 3px solid #a3bbc4;
}

.main-header .chk-navcheck:checked~#navwrapper .navbar .navbar-inner .nav>li.active,
.main-header #navwrapper .navbar .navbar-inner .nav>li,
.main-header .chk-navcheck:checked~#navwrapper .navbar .navbar-inner .nav>li.active>a:hover {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

.main-header #navwrapper .navbar .navbar-inner .nav>li:hover {
    background: #003c5b;
    color: #fff;
}
/* <-------------------------Hero-----------------------------> */

.carousel-indicators {
    display:none;
}
#maincontent {
    margin-top: 126px!important;
}
.maincontent, .container-fluid {
    padding: 0!important;
}
#maincontent .top-slider-wrapper #image-slider {
    width: 100vw;
}
#maincontent .top-slider-wrapper #image-slider .carousel-inner .item::before {
    background: none;
}

#maincontent .tag-line-wrapper {
    top: 40%;
}
#maincontent .tag-line-wrapper .tagline-section .header-wrapper .tag-line {
    font-size: 0;
}
#maincontent .tag-line-wrapper .tagline-section .header-wrapper .tag-line .part-1::before,
#maincontent .tag-line-wrapper .tagline-section .header-wrapper .tag-line .part-2::before,
#maincontent .tag-line-wrapper .tagline-section .header-wrapper .tag-line .part-3::before  {
    display:none;
}
.tag1 {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: 9vw;
}
.tag2, .tag3 {
    font-size: calc(10px + 1vw);
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 100;
    letter-spacing: 2px;
}
.tag2{
    font-weight: bold;
    letter-spacing: calc(2px + 1vw);
    font-size: calc(11px + 1vw);
    line-height: 0;
}

/* <-------------------------scroll-----------------------------> */
#homepage .scroll-btn-wrapper .vertical-line {
    background: #a3bbc4;
}
/* <-------------------------headings-----------------------------> */

#maincontent .romance-para-section .data-wrapper h1,
#maincontent .romance-para-section .data-wrapper h2,
#maincontent .amenities-section .wrapper .data-wrapper .content-wrapper .section-sub-header::before,
.sub-head {
    color: #141d29;
    font-family: 'PLAYFAIR DISPLAY';
    font-size: calc(44px + 1vw);
    margin: 0px;
    line-height: calc(40px + 1vw);
}

#maincontent .romance-para-section .data-wrapper h2,
.sub-head{
    color: #a3bbc3;
}


/* <-------------------------containers-----------------------------> */

#maincontent .romance-para-section .data-wrapper,
#maincontent .amenities-section .wrapper .data-wrapper {
    height: fit-content;
    max-height: none;
}
#maincontent .romance-para-section #InnerContentDiv {
    margin-top: 0;
}
@media (min-width: 992px){
    .col-md-5,
    #maincontent .amenities-section .wrapper .data-wrapper {
        width: 30vw;
        min-width: 525px;
    }   
}

/* <-------------------------romance section -----------------------------> */
#maincontent .romance-para-section .image-wrapper .image {
    -webkit-box-shadow: 0 13px 0 #141D29;
    -moz-box-shadow: 0 13px 0 #141D29;
    box-shadow: 0 13px 0 #141D29;
    background-image: url(https://cdngeneralcf.rentcafe.com/dmslivecafe/2/70799/SB-kitchen.jpg);
    background-size: cover;
    background-position: center;
    height: 660px;
    width: 50vw;
}

/* <-------------------------amenities section-----------------------------> */
#maincontent .amenities-section .wrapper .data-wrapper .content-wrapper .section-sub-header::before {
    content: "THE JOY IS IN";
}
#maincontent .amenities-section .wrapper .data-wrapper .content-wrapper .section-para::before {
    content: "Pursue your passions in a resort-like setting where luxury amenities extend from indoors to out, offering indulgent escapes as well as practical solutions to work, eat, relax, entertain, exercise, and so much more. Our curated selection of shared spaces set against a bay front panorama make coming home feel like an every day vacation.";
}


/* <-------------------------mobile-----------------------------> */

/* hamburger */
.main-header .header-wrapper a {
    color: #fff;
}
#MenuButtonHolder{
    border: 1px solid #fff;
}

@media (max-width: 798px) {
    #maincontent .top-slider-wrapper {
        margin-bottom: 25px;
        margin-top: -126px;
    }
    #maincontent .top-slider-wrapper,
    #homepage #homepage_slider,
    .carousel-inner,
    .carousel-inner>.active,
    #maincontent .top-slider-wrapper #image-slider,
    #maincontent .top-slider-wrapper #image-slider .carousel-inner .item img{
        min-height: 80vh;
    }
    #video-bg {
        width: 100vw;
        height: 100vh;
      }
      #maincontent .romance-para-section .image-wrapper .image {
        width: 100vw;
    }
}