
/* <-------------------------header and Hero-----------------------------> */

.mainheader {
    background: url(https://cdngeneralcf.rentcafe.com/dmslivecafe/2/70799/wave-still.PNG) center no-repeat;
    background-size: cover;
}
.main-header .header-wrapper a.click_to_call_href {
    color: #fff !important;
}

.main-header .header-wrapper .lbl-navcheck .burger::before,
.main-header .header-wrapper .lbl-navcheck .burger .bar,
.main-header .header-wrapper .lbl-navcheck .burger::after {
    background-color: #fff;
}
#maincontent {
    margin-top: 126px!important;
}
.maincontent, .container-fluid {
    padding: 0!important;
}
#maincontent .top-slider-wrapper #image-slider {
    width: 100vw;
}
#maincontent .tag-line-wrapper .tagline-section .header-wrapper .tag-line .part-1::before {
    content: "DESTINATION:";
}
#maincontent .tag-line-wrapper .tagline-section .header-wrapper .tag-line .part-2::before {
    color: #fff;
    content: "EXTAORDINARY";
}
#maincontent .tag-line-wrapper .tagline-section .header-wrapper .tag-line .part-3::before {
    content: "New Studio, 1 & 2 Bedroom Waterfront Rentals Opening Soonin South Amboy, NJ";
}