body {
    font-family: 'Montserrat';
    color: #606060;
    font-size: 18px;
    background: #fff;
    /* background: #071128; */
}
body h4 {
    font-family: 'Montserrat';
}p,
.address-wrapper .wrapper .section-para::before,
#maincontent .neighbourhood-section .section-content-wrapper .data-wrapper .wrapper .section-para,
#maincontent .romance-para-section .data-wrapper p {
    font-size: 18px;
}
a {
    color: inherit;
}
body a:hover {
    text-decoration: none;
    color: inherit;
}

#video-bg {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
  }
  .promo {
    text-align: center;
    color: #fff !important;
  }
  .promo:hover {
    color: #a3bac3 !important;
  }
/* <-------------------------buttons-----------------------------> */
#homepage .btn.btn-primary:hover,
#homepage .btn.btn-primary::before,
#homepage .btn.btn-primary.btn-banner:hover {
    border-color: #a3bac3 !important;
    background: #a3bac3 !important;
}
#maincontent .tag-line-wrapper .btn-wrapper .btn-primary::after,
#maincontent .amenities-section .wrapper .data-wrapper .content-wrapper .btn-wrapper .btn-primary::after,
#maincontent .neighbourhood-section .section-content-wrapper .data-wrapper .wrapper .btn-wrapper .btn-primary::after,
#maincontent .romance-para-section.stylish-homes-section .data-wrapper .btn-wrapper .btn-primary::after,
.address-wrapper .wrapper .btn-wrapper .btn-primary::after {
    font-size: 16px;
    line-height: 2.5;
    padding: 10px;
}
a:focus, button:focus {
    outline: none!important;
}

/* <-------------------------logo-----------------------------> */

.main-header .header-wrapper #logo-container img {
    max-height: 90px;
}

/* <-------------------------header-----------------------------> */

/* this is the backup if the video doesn't work */
.main-header {
    /* background: url(https://cdngeneralcf.rentcafe.com/dmslivecafe/2/70799/wave-still.PNG) center no-repeat;
    background-size: cover; */
    background: transparent;
}
/* temporary code so I can see the links while i'm designing */
.hidden {
    display: inline-block!important;
    visibility: visible!important;
}
.main-header .header-wrapper .right-nav-links-wrapper #login-links ul #rpdiv a::before {
    content: "LOGIN";
}
.main-header .header-wrapper .right-nav-links-wrapper #login-links ul #apldiv a::before {
    content: "APPLY NOW";
}

.main-header .header-wrapper #navwrapper {
    right: 0px;
    top: 152px;
    width: 100vw;
}
.main-header .header-wrapper .right-nav-links-wrapper {
    line-height: 1;
    padding-top: 0px;
}
.main-header .header-wrapper a.click_to_call_href,
#apldiv a, #rpdiv a {
    color: #fff !important;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 1;
}
.main-header .header-wrapper .right-nav-links-wrapper #login-links ul #rpdiv::after,
.main-header .header-wrapper .right-nav-links-wrapper #login-links ul #apldiv::after, 
.main-header .header-wrapper .right-nav-links-wrapper #login-links ul #call-us::after {
    background: #a3bbc4;
}
.main-header .header-wrapper .right-nav-links-wrapper #login-links ul a:hover {
    border-top: 2px solid #a3bbc4;
    border-bottom: 2px solid #a3bac3;
}
/* <-------------------------navigation-----------------------------> */

span.burger {
    color: #fff;
}
.main-header .header-wrapper .lbl-navcheck .burger::before,
.main-header .header-wrapper .lbl-navcheck .burger .bar,
.main-header .header-wrapper .lbl-navcheck .burger::after {
    background-color: #fff!important;
}

.main-header #navwrapper .navbar {
    right: 0;
}
.main-header #navwrapper::before {
    background: #081029;
}

.main-header #navwrapper .navbar .navbar-inner {
    margin-left: 30%;
}
.main-header #navwrapper .navbar .navbar-inner .nav>li {
    margin: 0;
}
.main-header .chk-navcheck:checked~#navwrapper .navbar .navbar-inner .nav>li.active>a,
.main-header #navwrapper .navbar .navbar-inner .nav>li:hover>a{
    border-left: 3px solid #a3bbc4;
    padding: 0px 50px;
}
.main-header #navwrapper .navbar .navbar-inner .nav>li>a {
    padding: 0px 50px;
}
.main-header #navwrapper .navbar .navbar-inner .nav>li:hover>a{
    padding-left: 47px;
}

.main-header .chk-navcheck:checked~#navwrapper .navbar .navbar-inner .nav>li.active,
.main-header #navwrapper .navbar .navbar-inner .nav>li,
.main-header .chk-navcheck:checked~#navwrapper .navbar .navbar-inner .nav>li.active>a:hover {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    font-size: calc(20px + 2vw);
}

.main-header #navwrapper .navbar .navbar-inner .nav>li:hover {
    background: #003c5b;
    color: #fff;
}
/* <-------------------------Hero-----------------------------> */

.carousel-indicators {
    display:none;
}
#maincontent {
    margin-top: 126px!important;
}
.maincontent, .container-fluid {
    padding: 0!important;
}
#maincontent .top-slider-wrapper #image-slider {
    width: 100vw;
}
#maincontent .top-slider-wrapper #image-slider .carousel-inner .item::before {
    background: none;
}
#maincontent .tag-line-wrapper {
    top: 45%;
}
#maincontent .tag-line-wrapper .tagline-section .header-wrapper .tag-line {
    font-size: 0;
}
#maincontent .tag-line-wrapper .tagline-section .header-wrapper .tag-line .part-1::before,
#maincontent .tag-line-wrapper .tagline-section .header-wrapper .tag-line .part-2::before,
#maincontent .tag-line-wrapper .tagline-section .header-wrapper .tag-line .part-3::before  {
    display:none;
}
#maincontent .tag-line-wrapper .btn-wrapper .btn-primary::after {
    content: "AVAILABILITY";
    letter-spacing: 2px;
}
.tag1 {
    font-family: 'Playfair Display', serif;
    color: #fff;
    font-size: calc(22px + 4vw);
}
.tag2, .tag3 {
    font-size: calc(10px + 1vw);
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 100;
    letter-spacing: 2px;
}
.tag2{
    font-weight: bold;
    letter-spacing: calc(2px + 1vw);
    font-size: calc(11px + 1vw);
    line-height: 0;
}
@media (min-width: 992px) {
    #maincontent .top-slider-wrapper {
        margin-bottom: 0px;
    }
}
/* <-------------------------arrow animations-----------------------------> */
.arrow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11vh;
}
.animated { 
    /* margin-bottom:60px; */
    -webkit-animation-duration: 1s;
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
 }
 
 @-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
 } 
 
 @keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 }
 
 .bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
 }

/* <-------------------------scroll-----------------------------> */
/* #homepage .scroll-btn-wrapper .vertical-line {
    background: #a3bbc4;
} */
#homepage .scroll-btn-wrapper {
    display:none!important;
}
/* <-------------------------headings-----------------------------> */

#maincontent .romance-para-section .data-wrapper h2,
body .section .section-sub-header,
.sub-head {
    color: #141d29;
    font-family: 'PLAYFAIR DISPLAY';
    font-size: calc(38px + 1vw)!important;
    margin: 0px;
    line-height: calc(40px + 1vw)!important;
}
/* #maincontent .romance-para-section .data-wrapper h1,
.sub-head{
    color: #a3bbc3;
} */
.romance-para-section h1, .amenities-section h1, .neighbourhood-section h1, .stylish-homes-section h1, .address-wrapper h1 {
    color: #a3bbc3;
    font-family: 'Montserrat';
    font-size: calc(7px + 1vw)!important;
    letter-spacing: calc(1px + 0.3vw);
    margin: 0px;
    line-height: calc(40px + 1vw)!important;
    margin-top: 4px;
}
/* .amenities-section h1,
.neighbourhood-section h1,
.stylish-homes-section h1,
.address-wrapper h1 {
    line-height: 0.5!important;
} */
body .section .section-title-wrapper .section-title {
    font-size: calc(2px + 5vw)!important;
    line-height: 0px;
    font-family: 'PLAYFAIR DISPLAY';
    color: #a3bbc3;
}

#maincontent .amenities-section .section-title-wrapper,
#maincontent .romance-para-section.stylish-homes-section .section-title-wrapper {
    right: 5%;
}
#maincontent .contact-us-section .section-title-wrapper,
#maincontent .neighbourhood-section .section-title-wrapper {
    left: 0;
}

/* <-------------------------containers-----------------------------> */
#homepage .container {
    width: 100vw;
}
#maincontent .romance-para-section .data-wrapper,
#maincontent .amenities-section .wrapper .data-wrapper {
    height: fit-content;
    max-height: none;
}
#maincontent .romance-para-section #InnerContentDiv {
    margin-top: 0;
}
@media (min-width: 992px){
    .col-md-5,
    #maincontent .amenities-section .wrapper .data-wrapper {
        width: 30vw;
        min-width: 525px;
    }   
}


/* <-------------------------romance section -----------------------------> */

#maincontent .romance-para-section .image-wrapper .image {
    box-shadow: none;
    border-top: 13px solid #141d29;
    /* border-bottom: 13px solid #141d29; */
    background-image: url(https://cdngeneralcf.rentcafe.com/dmslivecafe/2/70799/9-2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 965px;
    width: 100vw;
}
.anchor {
    position: relative;
}
.anchor #romance{
    position: absolute;
    left: 0;
    height: 0;
    width: 0;
}
@media (min-width: 992px) {
    .anchor #romance{
        top: -150px; /* change this value to match the height of the header */
    }
    #maincontent .romance-para-section .data-wrapper {
        top: 240px;
    }
    #maincontent .romance-para-section .image-wrapper {
        position: absolute;
        top: 0;
        left: 0px;
        z-index: 1;
    } 
    #maincontent .romance-para-section .data-wrapper {
        left: 25%;
    }

    #maincontent .romance-para-section {    
        margin-bottom: 140px;
    }
}

/* <-------------------------amenities section-----------------------------> */

#maincontent .amenities-section .section-title-wrapper .section-title::before {
    /* content: "FEATURES & AMENITIES"; */
    display: none;
}
#maincontent .amenities-section .wrapper .data-wrapper .content-wrapper {
    padding: 50px 50px 42px 50px;
    /* background: #f6f6f6; */
}
#maincontent .amenities-section .wrapper .data-wrapper .content-wrapper .section-sub-header::before {
    content: "THE JOY IS IN";
}
#maincontent .amenities-section .wrapper .data-wrapper .content-wrapper .section-para::before {
    content: "Pursue your passions in a resort-like setting where luxury amenities extend from indoors to out, offering indulgent escapes as well as practical solutions to work, eat, relax, entertain, exercise, and so much more. Our curated selection of shared spaces set against a bay front panorama make coming home feel like an every day vacation.";
}
#maincontent .amenities-section .wrapper .data-wrapper .content-wrapper .btn-wrapper .btn-primary::after {
    content: "EXPLORE AMENITIES";
}
#maincontent .amenities-section .wrapper .image-wrapper .img.amenities-image-1 {
    background: url(https://cdngeneralcf.rentcafe.com/dmslivecafe/2/70799/2021-06-03-Amenity%20Perspectives-Final-South%20Amboy_Page_2.jpg) center center no-repeat;
    background-size: cover;
    box-shadow: none;
    border-bottom: 13px solid #141d29;
    border-top: 13px solid #141d29;
}
#maincontent .amenities-section .wrapper .image-wrapper .img.amenities-image-2 {
    display: none;
}
#maincontent .amenities-section .wrapper .image-wrapper .img {
    width: 100%;
    height: 765px;
    max-width: none;
}
#maincontent .romance-para-section.stylish-homes-section .adv-images-wrapper .img {
    width: 50%;
}

@media (min-width: 992px) {
    #maincontent .amenities-section .wrapper .image-wrapper .img.amenities-image-1 {
        margin-right: 0;
    }
    #maincontent .amenities-section .wrapper .data-wrapper {
        right: 8%;
        padding: 0;
    }
    #maincontent .amenities-section {
        margin-bottom: 0px;
    }

    #maincontent .amenities-section .wrapper .image-wrapper {
    top: 0px;
    margin-bottom: -175px;
    margin-top: 0px;
}
    
}
/* <-------------------------residences (previously neighborhood section) -----------------------------> */

#maincontent .neighbourhood-section .section-title-wrapper .section-title::before {
    display: none;
}

#maincontent .neighbourhood-section .section-content-wrapper .data-wrapper .wrapper .section-sub-header::before {
    content: "ARRIVE AT";
}
@media (min-width: 992px){
    .col-md-6 {
        width: 40%;
    }
    .col-md-push-6 {
        left: 40%;
    }
    .col-md-pull-3 {
        right: 30%;
    }
    .col-md-3 {
        width: 30%;
    }
    #maincontent .neighbourhood-section .section-content-wrapper .data-wrapper .wrapper {
        padding: 10% 8% 0 8%;
    }
}
#maincontent .neighbourhood-section .section-content-wrapper .data-wrapper .wrapper .section-para::before {
    content: "Come home to the waterfront and discover an impeccable collection of new luxury residences where views stretch to the horizon and spectacular studio, one, and two bedroom homes offer modern amenities with incredible style. Spacious and serene, with a seamless approach to daily life, you’ll find everything you’ve been searching for at Station Bay.";
}
#maincontent .neighbourhood-section .section-content-wrapper .data-wrapper .wrapper .btn-wrapper .btn-primary::after {
    content: "AVAILABILITY";
}
/* images */
/* top left */
#maincontent .neighbourhood-section .section-content-wrapper .img.neighbourhood-image-1 {
    background: url(https://cdngeneralcf.rentcafe.com/dmslivecafe/2/70799/The%20Station%2012172126.jpg) bottom center no-repeat;
    background-size: cover;
    min-height: 740px;
}
/* bottom left 1 & 2 */
#maincontent .neighbourhood-section .section-content-wrapper .img.neighbourhood-image-2,
#maincontent .neighbourhood-section .section-content-wrapper .img.neighbourhood-image-3 {
    display:none;
}

/* Top right */
#maincontent .neighbourhood-section .section-content-wrapper .img.neighbourhood-image-4 {
    background: url(https://cdngeneralcf.rentcafe.com/dmslivecafe/2/70799/TheStation1217211-Edit2.jpg) center center no-repeat;
    background-size: cover;
}
/* bottom right */
#maincontent .neighbourhood-section .section-content-wrapper .img.neighbourhood-image-5 {
    background: url(https://cdngeneralcf.rentcafe.com/dmslivecafe/2/70799/5-3.jpg) center center no-repeat;
    background-size: cover;
}
#maincontent .neighbourhood-section .section-content-wrapper .data-wrapper .wrapper .btn-wrapper {
    display:none;
}
#maincontent .neighbourhood-section .section-content-wrapper .data-wrapper .wrapper p.section-para .btn-wrapper {
    display:block;
}
@media (min-width: 992px) {
    #maincontent .neighbourhood-section {
        margin-bottom: 0px;
        margin-top: 175px;
    }
}

/* <-------------------------neighborhood section (previously stylish homes)-----------------------------> */
.col-xs-12 {
    min-height: 0px;
}

#maincontent .romance-para-section.stylish-homes-section .section-title-wrapper .section-title::before {
    display:none;
}
#maincontent .romance-para-section.stylish-homes-section .image-wrapper .image {
    background-image: url(https://cdngeneralcf.rentcafe.com/dmslivecafe/2/70799/Station%20Bay%20Neighborhood%20Shoot-21.jpg);
    background-size: cover;
    background-position: bottom;
}
#maincontent .romance-para-section.stylish-homes-section .data-wrapper .section-sub-header::before {
    content: "DEPART FOR A";
}
#maincontent .romance-para-section.stylish-homes-section .data-wrapper .para-2::before {
    content: "Unparalleled convenience, allowing you easy access to-and-from Manhattan while still being surrounded by parks and the tree-lined streets of a suburban enclave — just steps from downtown and the Raritan Bay waterfront";
}

#maincontent .romance-para-section.stylish-homes-section .data-wrapper .btn-wrapper {
    display: none;
}
.show {
    display: block !important;
}
#maincontent .romance-para-section.stylish-homes-section .data-wrapper .btn-wrapper .btn-primary::after {
    content: "NEIGHBORHOOD & DIRECTIONS";
}

@media (min-width: 992px){
    #maincontent .romance-para-section .adv-images-wrapper {
        padding-top: 0px;
        box-shadow: none;
        margin-top: -143px;
    }
}

#maincontent .romance-para-section .adv-images-wrapper .img.image-1 {
    background: url(https://cdngeneralcf.rentcafe.com/dmslivecafe/2/70799/Copy%20of%20shutterstock_1829212376.jpg) center center no-repeat;
    background-size: cover;
    min-height: 600px;
    margin-top: 175px;
}
#maincontent .romance-para-section .adv-images-wrapper .img.image-2 {
    background: url(https://cdngeneralcf.rentcafe.com/dmslivecafe/2/70799/Station%20Bay%20Neighborhood%20Shoot-84.jpg) center center no-repeat;
    background-size: cover;
    min-height: 600px;
    margin-top: 175px;
}
#maincontent .romance-para-section .adv-images-wrapper {
    box-shadow: none;
    /* border-top: 13px solid #141d29; */
    border-bottom: 13px solid #141d29;
}

@media (min-width: 992px){
    #maincontent .romance-para-section.stylish-homes-section {
        margin-bottom: 0px;
    }
}


/* <-------------------------contact-----------------------------> */
.address-wrapper .wrapper .section-sub-header::before {
    content: "WE ARE HERE"!important;
}
#maincontent .contact-us-section .section-title-wrapper .section-title::before {
    display: none;
}

#maincontent .contact-us-section .section-data-wrapper .image-wrapper .img {
    background: url(https://cdngeneralcf.rentcafe.com/dmslivecafe/2/70799/Copy%20of%20shutterstock_1701296233.jpg) center center no-repeat;
    background-size: cover;

}
.address-wrapper .wrapper .section-para {
    margin-top: 50px;
}
.address-wrapper .wrapper .section-para::before {
    content: "Interested in visiting our community? Reach out and schedule your tour today.";
}
/* .horizontal#address span[itemprop=address]:after {
    content: "(Located off of Radford Ferry Road)";
} */

#maincontent .contact-us-section .section-data-wrapper .address-wrapper .wrapper .phoneNumber {
    padding-bottom: 0px;
}
span[itemprop="address"] {
    display: none;
 }
 .addy {
    color: #141d29;
}
.addy:hover, .addy:visited, .addy:focus {
    text-decoration: none;
    color: #003c5b;
}

/* <-------------------------map-----------------------------> */
#marketing-map {
    display:none;
}
#ebrochureMap, #map {
    height: 100%;
}

/* <-------------------------footer-----------------------------> */
footer {
    padding: 0;
}
footer a,
footer a:visited,
footer a:focus {
    color: #fff;
}
footer .data-wrapper {
    background: #141d29;
    color: #fff;
    letter-spacing: 2px;
}
footer .data-wrapper #footer-links .nav-list li .footerlinks {
    color: #fff;
}
footer .data-wrapper #footer-links .nav-list li .footerlinks:hover {
    border-top: 2px solid #a3bbc3;
    border-bottom: 2px solid #a3bbc3;
}
#copyright {
    display:none;
}
/* <-------------------------mobile-----------------------------> */

/* hamburger */
.main-header .header-wrapper a {
    color: #fff;
}
#MenuButtonHolder{
    border: 1px solid #fff;
}
@media (max-width: 1020px) {
    #maincontent .romance-para-section .image-wrapper .image {
        width: 100vw;
    }
    body .section .section-title-wrapper .section-title {
        display:none;
    }
}


@media (max-width: 798px) {
    #maincontent .top-slider-wrapper {
        margin-bottom: 25px;
        margin-top: -126px;
    }
    #maincontent .top-slider-wrapper,
    #homepage #homepage_slider,
    .carousel-inner,
    .carousel-inner>.active,
    #maincontent .top-slider-wrapper #image-slider,
    #maincontent .top-slider-wrapper #image-slider .carousel-inner .item img{
        min-height: 80vh;
    }
    #video-bg {
        width: 100vw;
        height: 100vh;
      }

    #navwrapper #headermenuwrapper #HomeMenu {
        background: #081029;
    }
    #navwrapper #headermenuwrapper #HomeMenu .offcanvas_navbar-inner li a {
        font-family: 'Playfair Display';
        text-transform: uppercase;
        color: #fff;
    }
    #navwrapper #headermenuwrapper #HomeMenu .offcanvas_navbar-inner li.active:not(.hasActiveChild)>a {
        border-left: 3px solid #a3bbc3;
    }
    #navwrapper #headermenuwrapper #HomeMenu .offcanvas_navbar-inner .close-btn {
        filter: none;
    }
    .arrow {
        margin-top: 6vh;
    }
}

/* for old iPhones including the iphone 5 and original SE */
@media (max-width: 330px) {
    #maincontent .tag-line-wrapper {
        top: 40%;
    }
    #maincontent .tag-line-wrapper .tagline-section .header-wrapper {
        margin: 0 0%;
    }
    #maincontent .tag-line-wrapper .tagline-section {
        margin-bottom: 0px;
    }
    .arrow {
        margin-top: 5vh;
        max-width: 60px;
    }
}